In [2]:
import pandas as pd

In [9]:
df=pd.read_csv('./data/crime.csv',encoding='EUC-KR')

In [10]:
df.describe()

,서울,부산,대구,인천,광주,대전,울산,세종,경기 고양,경기 과천,...,경남 밀양,경남 사천,경남 양산,경남 진주,경남 창원,경남 통영,제주 서귀포,제주 제주,기타도시,도시이외
count,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,...,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000
mean,9351.078947,3781.921053,2598.894737,2682.394737,1623.605263,1304.657895,1187.921053,96.315789,820.473684,44.500000,...,86.263158,147.342105,254.684211,280.815789,996.500000,191.078947,229.894737,707.105263,254.947368,3047.210526
std,18280.747357,7874.519491,6960.871516,6002.811195,4192.201322,2901.022842,2997.683298,216.102216,2106.786213,122.960057,...,215.985320,442.162761,666.117273,664.178658,2439.685079,539.745455,627.372289,1900.497699,581.162997,7914.439009
min,24.000000,4.000000,4.000000,11.000000,3.000000,3.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000
25%,109.000000,38.000000,21.500000,31.750000,14.000000,14.000000,12.750000,2.000000,10.500000,1.000000,...,1.000000,2.000000,3.000000,4.250000,13.000000,2.000000,2.000000,11.000000,3.250000,56.500000
50%,1052.000000,470.500000,239.500000,263.000000,113.500000,88.000000,94.500000,6.000000,74.500000,3.500000,...,10.500000,8.500000,21.500000,28.500000,86.000000,11.500000,19.000000,36.500000,27.000000,318.000000
75%,6399.000000,2294.750000,1429.500000,1791.000000,802.750000,941.250000,691.000000,82.250000,436.500000,21.500000,...,55.500000,49.500000,154.500000,154.500000,590.500000,85.250000,128.750000,346.250000,137.500000,1715.000000
max,74958.000000,35841.000000,39725.000000,31163.000000,23412.000000,13556.000000,16600.000000,1056.000000,11926.000000,720.000000,...,1216.000000,2517.000000,3759.000000,3351.000000,12650.000000,2936.000000,3581.000000,10857.000000,2325.000000,43877.000000

In [11]:
df_corr = df.corr(numeric_only = True)

In [12]:
df_corr

,서울,부산,대구,인천,광주,대전,울산,세종,경기 고양,경기 과천,...,경남 밀양,경남 사천,경남 양산,경남 진주,경남 창원,경남 통영,제주 서귀포,제주 제주,기타도시,도시이외
서울,1.000000,0.974053,0.894910,0.952847,0.916634,0.974241,0.919775,0.957041,0.903906,0.863784,...,0.888215,0.832957,0.903517,0.949734,0.948638,0.836420,0.865262,0.890585,0.880552,0.893198
부산,0.974053,1.000000,0.927837,0.970160,0.936104,0.959883,0.938836,0.976955,0.934735,0.901026,...,0.934870,0.895809,0.934558,0.956560,0.957257,0.897322,0.912992,0.926298,0.932670,0.937764
대구,0.894910,0.927837,1.000000,0.974480,0.996499,0.946020,0.995412,0.958097,0.995482,0.992607,...,0.989654,0.970096,0.998762,0.969866,0.981429,0.951453,0.986243,0.997979,0.817493,0.986619
인천,0.952847,0.970160,0.974480,1.000000,0.978772,0.955019,0.987096,0.964700,0.984057,0.965005,...,0.975675,0.956715,0.977954,0.959039,0.976584,0.949187,0.969014,0.976893,0.885328,0.979889
광주,0.916634,0.936104,0.996499,0.978772,1.000000,0.959356,0.996159,0.960427,0.993515,0.987050,...,0.980656,0.953123,0.995703,0.977211,0.986741,0.932161,0.975144,0.993164,0.826073,0.976956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
경남 통영,0.836420,0.897322,0.951453,0.949187,0.932161,0.868262,0.951343,0.916771,0.956486,0.953393,...,0.969589,0.991211,0.951309,0.895040,0.916597,1.000000,0.984407,0.963039,0.789518,0.983186
제주 서귀포,0.865262,0.912992,0.986243,0.969014,0.975144,0.909278,0.983213,0.938578,0.985610,0.986901,...,0.985389,0.989934,0.983556,0.936875,0.951520,0.984407,1.000000,0.993267,0.795762,0.991023
제주 제주,0.890585,0.926298,0.997979,0.976893,0.993164,0.937421,0.994394,0.953698,0.995275,0.994119,...,0.988609,0.977432,0.995799,0.961298,0.973516,0.963039,0.993267,1.000000,0.812624,0.989096
기타도시,0.880552,0.932670,0.817493,0.885328,0.826073,0.827219,0.828100,0.864487,0.843474,0.800317,...,0.849513,0.811732,0.831641,0.822905,0.851814,0.789518,0.795762,0.812624,1.000000,0.842592
도시이외,0.893198,0.937764,0.986619,0.979889,0.976956,0.928365,0.986594,0.958133,0.989698,0.980773,...,0.996337,0.990535,0.988849,0.950069,0.970706,0.983186,0.991023,0.989096,0.842592,1.000000